*, html,
body{
    padding: 0;
    margin: 0;
}

body{
background-color: #111;
color: #fff;
    /* width: 100%; */
    /* height: 100vh; */
    /* background-image: url(assets/images/gambar1.jpeg); */
}
nav {
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: black;
    width: 100%;
    padding: 5px;
    color: #fff;
}

.dark{
    background-color: #999;
    color: black;
}

.li-harga{
    list-style-type: none;
}

.li-ukuran{
    list-style-type: none;
}

.li-namaukuran{
    list-style-type: none;
}

.font{
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    
}

.font1{
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

.warna{
    animation: warna 5s infinite;
}
@keyframes warna {
    /* from {
      text-shadow: 0 0 5px #ffd1b0, 0 0 10px #ff829a, 0 0 15px #e27da1, 0 0 20px #e27da1, 0 0 30px #846c98, 0 0 40px #846c98, 0 0 50px #356e9a, 0 0 75px #356e9a;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00c8, 0 0 30px #ff00c8, 0 0 40px #ff00c8, 0 0 50px #ff00c8, 0 0 75px #ff00c8;
    } */

    0%{
        text-shadow: 0 0 20px red;
        color: red;
    }
    14.3% {
        text-shadow: 0 0 20px red;
        background-color: ;
        color: red;
    }

    28.6% {
        text-shadow: 0 0 20px orange;
        color: orange;
    }

    42.9% {
        text-shadow: 0 0 20px yellow;
        color: yellow;
    }

    57.2% {
        text-shadow: 0 0 20px green;
        color: green;
    }

    71.5% {
        text-shadow: 0 0 20px blue;
        color: blue;
    }

    85.8% {
        text-shadow: 0 0 20px indigo;
        color: indigo;
    }

    100% {
        text-shadow: 0 0 20px purple;
        color: purple;
    }
  }

/* FOOTER */
marquee{
    bottom: 0;
    font-size: 24px;
    animation: shine 3s infinite;
}

@keyframes shine {
    /* from {
      text-shadow: 0 0 5px #ffd1b0, 0 0 10px #ff829a, 0 0 15px #e27da1, 0 0 20px #e27da1, 0 0 30px #846c98, 0 0 40px #846c98, 0 0 50px #356e9a, 0 0 75px #356e9a;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00c8, 0 0 30px #ff00c8, 0 0 40px #ff00c8, 0 0 50px #ff00c8, 0 0 75px #ff00c8;
    } */

    0%{
        text-shadow: 0 0 20px red;
        color: red;
    }
    14.3% {
        text-shadow: 0 0 20px red;
        background-color: ;
        color: red;
    }

    28.6% {
        text-shadow: 0 0 20px orange;
        color: orange;
    }

    42.9% {
        text-shadow: 0 0 20px yellow;
        color: yellow;
    }

    57.2% {
        text-shadow: 0 0 20px green;
        color: green;
    }

    71.5% {
        text-shadow: 0 0 20px blue;
        color: blue;
    }

    85.8% {
        text-shadow: 0 0 20px indigo;
        color: indigo;
    }

    100% {
        text-shadow: 0 0 20px purple;
        color: purple;
    }
  }

  /* IMG */
  .hover{
    overflow: hidden;
    transition: .5s;
    cursor: pointer;
  }
  .hover img:hover{
    transform: scale(1.7);
    transition: .5s;
  }